# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Poetry virtual environment
.poetry/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3
*.db

# Testing and coverage reports
htmlcov/
pytest_cache/
nosetests.xml
*.cover
.coverage
.hypothesis/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Build and packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Environment variables and secrets
.env
.env.local
.env.*.json

# Python
main.py